
.lst-kix_list_2-6>li:before {
	content: " "
}

.lst-kix_list_2-7>li:before {
	content: " "
}

ol.lst-kix_list_1-0 {
	list-style-type: none
}

.lst-kix_list_2-4>li:before {
	content: " "
}

.lst-kix_list_2-5>li:before {
	content: " "
}

.lst-kix_list_2-8>li:before {
	content: " "
}

.lst-kix_list_3-0>li:before {
	content: "\00203b  "
}

.lst-kix_list_3-1>li:before {
	content: "\0025a0  "
}

.lst-kix_list_3-2>li:before {
	content: "\0025c6  "
}

ul.lst-kix_list_3-7 {
	list-style-type: none
}

ul.lst-kix_list_3-8 {
	list-style-type: none
}

ul.lst-kix_list_1-3 {
	list-style-type: none
}

ul.lst-kix_list_3-1 {
	list-style-type: none
}

.lst-kix_list_3-5>li:before {
	content: "\0025c6  "
}

ul.lst-kix_list_1-4 {
	list-style-type: none
}

ul.lst-kix_list_3-2 {
	list-style-type: none
}

ul.lst-kix_list_1-1 {
	list-style-type: none
}

.lst-kix_list_3-4>li:before {
	content: "\0025a0  "
}

ul.lst-kix_list_1-2 {
	list-style-type: none
}

ul.lst-kix_list_3-0 {
	list-style-type: none
}

ul.lst-kix_list_1-7 {
	list-style-type: none
}

.lst-kix_list_3-3>li:before {
	content: "\0025cf  "
}

ul.lst-kix_list_3-5 {
	list-style-type: none
}

ul.lst-kix_list_1-8 {
	list-style-type: none
}

ul.lst-kix_list_3-6 {
	list-style-type: none
}

ul.lst-kix_list_1-5 {
	list-style-type: none
}

ul.lst-kix_list_3-3 {
	list-style-type: none
}

ul.lst-kix_list_1-6 {
	list-style-type: none
}

ul.lst-kix_list_3-4 {
	list-style-type: none
}

.lst-kix_list_3-8>li:before {
	content: "\0025c6  "
}

.lst-kix_list_2-0>li {
	counter-increment: lst-ctn-kix_list_2-0
}

.lst-kix_list_4-0>li:before {
	content: "\0025cf  "
}

.lst-kix_list_4-1>li:before {
	content: "\0027a2  "
}

.lst-kix_list_3-6>li:before {
	content: "\0025cf  "
}

.lst-kix_list_3-7>li:before {
	content: "\0025a0  "
}

.lst-kix_list_4-4>li:before {
	content: "\0027a2  "
}

.lst-kix_list_4-3>li:before {
	content: "\0025cf  "
}

.lst-kix_list_4-5>li:before {
	content: "\002727  "
}

.lst-kix_list_4-2>li:before {
	content: "\002727  "
}

.lst-kix_list_4-6>li:before {
	content: "\0025cf  "
}

ol.lst-kix_list_2-0 {
	list-style-type: none
}

.lst-kix_list_4-8>li:before {
	content: "\002727  "
}

.lst-kix_list_4-7>li:before {
	content: "\0027a2  "
}

ul.lst-kix_list_4-8 {
	list-style-type: none
}

ul.lst-kix_list_4-6 {
	list-style-type: none
}

ul.lst-kix_list_2-8 {
	list-style-type: none
}

ul.lst-kix_list_4-7 {
	list-style-type: none
}

ul.lst-kix_list_4-0 {
	list-style-type: none
}

ul.lst-kix_list_2-2 {
	list-style-type: none
}

ul.lst-kix_list_4-1 {
	list-style-type: none
}

.lst-kix_list_1-0>li:before {
	content: "" counter(lst-ctn-kix_list_1-0, decimal) ". "
}

ul.lst-kix_list_2-3 {
	list-style-type: none
}

ul.lst-kix_list_2-1 {
	list-style-type: none
}

ul.lst-kix_list_4-4 {
	list-style-type: none
}

ul.lst-kix_list_2-6 {
	list-style-type: none
}

ul.lst-kix_list_4-5 {
	list-style-type: none
}

.lst-kix_list_1-1>li:before {
	content: " "
}

.lst-kix_list_1-2>li:before {
	content: " "
}

ol.lst-kix_list_2-0.start {
	counter-reset: lst-ctn-kix_list_2-0 0
}

ul.lst-kix_list_2-7 {
	list-style-type: none
}

ul.lst-kix_list_4-2 {
	list-style-type: none
}

ul.lst-kix_list_2-4 {
	list-style-type: none
}

ul.lst-kix_list_4-3 {
	list-style-type: none
}

ul.lst-kix_list_2-5 {
	list-style-type: none
}

.lst-kix_list_1-3>li:before {
	content: " "
}

.lst-kix_list_1-4>li:before {
	content: " "
}

ol.lst-kix_list_1-0.start {
	counter-reset: lst-ctn-kix_list_1-0 0
}

.lst-kix_list_1-0>li {
	counter-increment: lst-ctn-kix_list_1-0
}

.lst-kix_list_1-7>li:before {
	content: " "
}

.lst-kix_list_1-5>li:before {
	content: " "
}

.lst-kix_list_1-6>li:before {
	content: " "
}

.lst-kix_list_2-0>li:before {
	content: "" counter(lst-ctn-kix_list_2-0, decimal) ". "
}

.lst-kix_list_2-1>li:before {
	content: " "
}

.lst-kix_list_1-8>li:before {
	content: " "
}

.lst-kix_list_2-2>li:before {
	content: " "
}

.lst-kix_list_2-3>li:before {
	content: " "
}

ol {
	margin: 0;
	padding: 0
}

table td, table th {
	padding: 0
}

.c12 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	background-color: #ffffff;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 67.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c96 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 92.4pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c163 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 118.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c114 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 66.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c137 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 101.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c65 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 18.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c130 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 20.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c138 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 49.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c81 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 83pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c53 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 55.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c121 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 70.3pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c98 {
	border-right-style: dashed;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 38.7pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c128 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 70.3pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c140 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 103pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c142 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 68.3pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c100 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 169.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c6 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 55.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c157 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 126.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c164 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 120.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c44 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 55.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c4 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 101.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c139 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 62.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c17 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 82.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c162 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 120.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c136 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 82.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c109 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 97.4pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c143 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 18.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c159 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 57pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c59 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 70.3pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c158 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 70.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c110 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 65.7pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c23 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 68.3pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c79 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 65.7pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c9 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 68.3pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c89 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 103pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c160 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 266.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c37 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 66.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c60 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 85.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c145 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 70.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c104 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 170.4pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c22 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 62.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c34 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 49.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c21 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 67.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c93 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 55.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c127 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 169.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c141 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 279.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c132 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 18.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c45 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 92.4pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c151 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 220pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c115 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 66.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c125 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 118.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c87 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 279.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c129 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 19.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c107 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 103pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c116 {
	border-right-style: dashed;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 38.7pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c41 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 169.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c51 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 18.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c166 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 55.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c42 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 79.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c61 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 18.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c108 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 279.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c152 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 59.4pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c54 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 67.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c38 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 118.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c122 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 18.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c11 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 59.4pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c118 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 85.4pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c68 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 70.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c75 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 57pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c66 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 82.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c71 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 66.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c103 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 103.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c144 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 51.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c153 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 51.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c124 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 126.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c62 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 49.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c48 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 83pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c73 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 55.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c91 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 103.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c47 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 19.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c111 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 75.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c74 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 19.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c102 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: dashed;
	border-bottom-width: 1pt;
	width: 26.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c134 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 67.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c83 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: dashed;
	border-bottom-width: 1.5pt;
	width: 26.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c0 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 103.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c64 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 92.4pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c165 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 62.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c28 {
	border-right-style: dashed;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 38.7pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c55 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 120.2pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c90 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 70.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c167 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 126.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c94 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 83pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c148 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 49.6pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c131 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 20.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c50 {
	border-right-style: solid;
	padding: 0pt 5.8pt 0pt 5.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 65.7pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c85 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 126.8pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c20 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 20.1pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c72 {
	border-right-style: solid;
	padding: 0pt 2.8pt 0pt 2.8pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: dashed;
	border-bottom-width: 1pt;
	width: 26.9pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c82 {
	border-right-style: solid;
	padding: 0pt 5pt 0pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 97.4pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c147 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 141pt;
	border-top-color: #000000;
	border-bottom-style: dotted
}

.c149 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 514.5pt;
	border-top-color: #000000;
	border-bottom-style: dotted
}

.c155 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 141pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c31 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: top;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 75pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c24 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: top;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 54pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c84 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 75pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c154 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 141pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c105 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 141pt;
	border-top-color: #000000;
	border-bottom-style: dotted
}

.c77 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: top;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 244.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c76 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 298.5pt;
	border-top-color: #000000;
	border-bottom-style: dotted
}

.c99 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 54pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c95 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 54pt;
	border-top-color: #000000;
	border-bottom-style: dotted
}

.c133 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: top;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 244.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c26 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 54pt;
	border-top-color: #000000;
	border-bottom-style: dotted
}

.c88 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 141pt;
	border-top-color: #000000;
	border-bottom-style: dotted
}

.c46 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1.5pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 75pt;
	border-top-color: #000000;
	border-bottom-style: dotted
}

.c63 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 54pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c43 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 141pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c49 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1pt;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 54pt;
	border-top-color: #000000;
	border-bottom-style: dotted
}

.c70 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: top;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-width: 1pt;
	width: 298.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c168 {
	border-right-style: solid;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-right-width: 1.5pt;
	border-left-color: #000000;
	vertical-align: middle;
	border-right-color: #000000;
	border-left-width: 1.5pt;
	border-top-style: dotted;
	border-left-style: solid;
	border-bottom-width: 1.5pt;
	width: 514.5pt;
	border-top-color: #000000;
	border-bottom-style: solid
}

.c8 {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 9pt;
	font-family: "MS Gothic";
	font-style: normal
}

.c32 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 9pt;
	font-family: "MS Gothic";
	font-style: normal
}

.c14 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 16pt;
	font-family: "MS Gothic";
	font-style: normal
}

.c1 {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 11pt;
	font-family: "MS Gothic";
	font-style: normal
}

.c2 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 10.5pt;
	font-family: "MS Gothic";
	font-style: normal
}

.c13 {
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	vertical-align: baseline;
	font-size: 10.5pt;
	font-family: "MS Gothic";
	font-style: normal
}

.c7 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15;
	text-align: left;
	height: 10pt
}

.c3 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	text-align: center;
	height: 10pt
}

.c56 {
	color: #000000;
	font-weight: 400;
	text-decoration: none;
	vertical-align: baseline;
	font-style: normal
}

.c18 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	text-align: justify;
	height: 10pt
}

.c16 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	text-align: center
}

.c97 {
	color: #000000;
	text-decoration: none;
	vertical-align: baseline;
	font-style: normal
}

.c67 {
	margin-left: -4.4pt;
	border-spacing: 0;
	border-collapse: collapse;
	margin-right: auto
}

.c40 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0;
	text-align: justify
}

.c19 {
	orphans: 2;
	widows: 2;
	text-align: left;
	height: 10pt
}

.c27 {
	margin-left: auto;
	border-spacing: 0;
	border-collapse: collapse;
	margin-right: auto
}

.c135 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.15
}

.c86 {
	padding-top: 0pt;
	padding-bottom: 0pt;
	line-height: 1.0
}

.c10 {
	font-size: 10.5pt;
	font-family: "MS Gothic";
	font-weight: 400
}

.c113 {
	margin-left: 10.5pt;
	text-indent: -10.5pt;
	text-align: left
}

.c5 {
	font-size: 11pt;
	font-family: "MS Gothic"
}

.c36 {
	font-size: 8pt;
	font-family: "MS Gothic"
}

.c92 {
	text-indent: 80pt;
	text-align: left
}

.c161 {
	orphans: 2;
	widows: 2
}

.c80 {
	text-indent: 62.8pt;
	margin-right: -35.5pt
}

.c156 {
	max-width: 515.9pt;
	padding: 27.3pt 39.7pt 54.5pt 39.7pt
}

.c33 {
	background-color: #ffffff
}

.c15 {
	height: 43pt
}

.c119 {
	text-align: left
}

.c112 {
	height: 53pt
}

.c58 {
	height: 9pt
}

.c35 {
	height: 28pt
}

.c69 {
	height: 0pt
}

.c57 {
	height: 1pt
}

.c126 {
	height: 16pt
}

.c120 {
	font-size: 9pt
}

.c101 {
	text-align: center
}

.c25 {
	height: 10pt
}

.c52 {
	height: 17pt
}

.c30 {
	page-break-after: avoid
}

.c123 {
	height: 34pt
}

.c150 {
	font-family: "MS UI Gothic"
}

.c146 {
	height: 14pt
}

.c39 {
	font-family: "MS Gothic"
}

.c117 {
	font-size: 18pt
}

.c29 {
	font-weight: 700
}

.c78 {
	height: 33pt
}

.c106 {
	font-size: 20pt
}

.title {
	padding-top: 24pt;
	color: #000000;
	font-weight: 700;
	font-size: 36pt;
	padding-bottom: 6pt;
	font-family: "Domine";
	line-height: 1.0;
	page-break-after: avoid;
	text-align: justify
}

.subtitle {
	padding-top: 18pt;
	color: #666666;
	font-size: 24pt;
	padding-bottom: 4pt;
	font-family: "Georgia";
	line-height: 1.0;
	page-break-after: avoid;
	font-style: italic;
	text-align: justify
}

li {
	color: #000000;
	font-size: 10.5pt;
	font-family: "Domine"
}

p {
	margin: 0;
	color: #000000;
	font-size: 10.5pt;
	font-family: "Domine"
}

h1 {
	padding-top: 0pt;
	color: #000000;
	font-weight: 700;
	font-size: 10pt;
	padding-bottom: 0pt;
	font-family: "MS Mincho";
	line-height: 1.0;
	page-break-after: avoid;
	text-align: justify
}

h2 {
	padding-top: 18pt;
	color: #000000;
	font-weight: 700;
	font-size: 18pt;
	padding-bottom: 4pt;
	font-family: "Domine";
	line-height: 1.0;
	page-break-after: avoid;
	text-align: justify
}

h3 {
	padding-top: 0pt;
	color: #000000;
	font-size: 10.5pt;
	padding-bottom: 0pt;
	font-family: "Arial";
	line-height: 1.0;
	page-break-after: avoid;
	text-align: justify
}

h4 {
	padding-top: 12pt;
	color: #000000;
	font-weight: 700;
	font-size: 12pt;
	padding-bottom: 2pt;
	font-family: "Domine";
	line-height: 1.0;
	page-break-after: avoid;
	text-align: justify
}

h5 {
	padding-top: 11pt;
	color: #000000;
	font-weight: 700;
	font-size: 11pt;
	padding-bottom: 2pt;
	font-family: "Domine";
	line-height: 1.0;
	page-break-after: avoid;
	text-align: justify
}

h6 {
	padding-top: 10pt;
	color: #000000;
	font-weight: 700;
	font-size: 10pt;
	padding-bottom: 2pt;
	font-family: "Domine";
	line-height: 1.0;
	page-break-after: avoid;
	text-align: justify
}
