
<style type="text/css">
	body {
		font-family: meiryo;
	}
	.path {
		float: right;
		margin-bottom: 0px;
		margin-top: 10px;
		font-size: 11px;
	}
	.copyright{
		margin-top: 300px;
	}
	.textbox_custom{ border: 0; width: 100%; height: 100%;}
	.textarea_custom{ border: 0; width: 100%;} 
	
	#admit{
	    width: 110px;
	    height: 40px;
	    margin-right: 5px;
	    border-radius: 5px;
	    border: 0;
	    background-color: #00afef;
	    color: #fff;
	    font-size: 14px;
	    font-weight: bold;
	    text-indent: 0;
	    margin-left: 430px;
	    }
	    
	#delete{
	    width: 110px;
	    height: 40px;
	    margin-right: 5px;
	    border-radius: 5px;
	    border: 0;
	    background-color: #00afef;
	    color: #fff;
	    font-size: 14px;
	    font-weight: bold;
	    text-indent: 0;
	}
</style>
<link rel="stylesheet" href="./Soft Engineer Society_files/font-awesome.min.css">
<link href="./Soft Engineer Society_files/video-js.css" rel="stylesheet">

